<div class="main-text-container">
	<div class="hero-image-container">
		<img class="hero-image" src="/images/club-image.jpg">
	</div>

	<p class="main-text">
		LoveBop was founded by Jernine Russell, a mum of three who loves children, music, dancing and, above all, having a good time. So much so that she decided to combine her passions and create an event where families could have fun together.
	</p>
	<p class="main-text">	
		Like many parents, Jernine often spends her weekends ferrying her children to parties. Lovebop came about because she wanted to find a way to recreate the music, games and atmosphere of a party but include the parents and other family members too.
	</p>
</div>