{{!< default}}
<div class="main-text-container">
	<h1>Welcome to Lovebop!</h1>
	<div class="hero-image-container">
		<img class="hero-image" src="/images/club-image.jpg">
	</div>
	<p class="main-text">
		Lovebop is a fun-packed daytime disco for ALL the family to enjoy. It features a live DJ spinning a mixture of old and new tunes of different genres for everyone to join in, dance and have fun. There are giveaways and prizes for all the family.
	</p>
	<p class="main-text">
		So come along and buss a move, shake what your mama gave ya, and throw some shapes to some old school classics and children's party anthems guaranteed to keep you all moving!!!
	</p>
</div>
