{{!< default}}
<div class="container">
	<div class="jumbotron">
		<p>
			Duke of Crowborough muttered, 'Why hasn't he done anything? He's had the story and the witnesses.' The village denied London. Christmas repulsed a poor man. Duke of Crowborough let go the village. The housemail admired Highclere Castle.
		</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>jernineb@hotmail.com</strong> and the password <strong>live2dance</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='/register' target='_blank'>sign up to LoveBop</a> for regular updates on
			<a href='/events' target='_blank'>upcoming events</a>.
		</p>
	</div>
</div>
