body {
	background: url("/images/stars.jpg")  no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#all-content {
	background-color: rgba(255,255,255,0.1);
}

#header {
	
}

#lovebop-logo {
	width: 480px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

#main-content, #main-text-container  {
	background-color: rgba(255,255, 255, 0.8);
	/*color: #fff;*/
	padding: 20px;
	margin-bottom: 20px;
	object-fit: contain;
}

.logo-container {
	margin-top: 30px;
	float: left;	
}

.title-container {
	text-align: right;
	float: right;
}

#strap-container {
	clear: both;	
}

#title {
	font-size: 6em;
}

#strapline {
	text-align: right;
	font-size: 4em;
	color: $brand-secondary;
	font-style: italic;
	font-weight: 700;
}

@media (max-width: 768px) {
	#lovebop-logo {
		width: 240px;
	}
	#strapline {
		font-size: 2em;
	}
}

.hero-image-container {
	max-width: 100%;
}

.main-text {
	padding: 20px;
	font-size: 1.5em;
}

.hero-image {
	max-width: 66%;
	object-fit: contain;
	margin-top: 30px;
	margin-bottom: 30px;
}

.categories-container {
	margin: 20px 0px;
}

.blog-categories-list {
	display: inline;
	padding: 10px;
	margin-right: 10px;
	color: #fff;
	background-color: lighten($brand-secondary, 10%);

}
