body {
	background-color: #262B48;
	/*background: url("/images/stars.jpg")  no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 700;
}

#header {
	
}

#lovebop-logo {
	width: 320px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.footer-content {
	text-align: center;
}

.social-logo {
	width: 20px;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

#main-content, #main-text-container  {
	background-color: #fff;
	padding: 40px;
	margin-bottom: 20px;
	object-fit: contain;
}

.logo-container {
	margin-top: 30px;
	float: left;	
}

.title-container {
	text-align: right;
	float: right;
}

#title {
	font-size: 6em;
}

#strap-container {
	clear: both;	
}

#strapline {
	text-align: right;
	font-size: 2.5em;
	font-style: italic;
	color: #fff;
	letter-spacing: 3px;
}

@media (max-width: $screen-sm-min) {
	#lovebop-logo {
		width: 240px;
	}
	#strapline {
		font-size: 2em;
	}
	.date-box {
		display: none;
	}
}

.hero-image-container {
	max-width: 100%;
}

.hero-image {
	max-width: 100%;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main-text, .event-text {
	/*font-size: 1.5em;*/
	margin-top: 20px;
	margin-bottom: 10px;
}

.categories-container {
	margin: 20px 0px;
}

.blog-categories-list {
	display: inline;
	padding: 10px;
	margin-right: 10px;
	color: #fff;
	background-color: lighten($brand-secondary, 10%);
	font-size: 0.7em;

}

.social-links-container {
	margin-top: 20px;
	margin-bottom: 15px;
}

.post-categories {
	margin-top: 20px;
	margin-bottom: 10px;
}

.post-social-icon {
	width: 40px;
	margin-right: 20px;
}

.post-social-link:hover {
	text-decoration: none;
}

.event-container, .blog-container {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid;
}

.event-head, .event-text {
	margin-bottom: 20px;
}

.date-box {
	margin-top: 20px;
	width: 100%;
	padding: 40px;
	background-color: lighten($brand-secondary, 10%);
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	float: left;
}

.event-date, .event-month {
	margin-bottom: -10px;
}

.event-date {
	font-size: 2em;
}

.signup-content {
	margin-top: 32.5px;
}

