#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.hero-image {
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.main-text {
	font-size: 20px;
}

body {
	background: url("/images/graffiti.jpg")  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
